
html { 
    background-image: url(https://jooinn.com/images/white-and-black-mountain-wallpaper.jpg);
    background-size: cover;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px;
}

ul {
    font-size: 20px;
    margin: 60px 850px 60px;
}
a {
    color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}